{% extends 'base.html.twig' %}

{% block title %}Edit Nationalite{% endblock %}

{% block body %}
    <h1>Edit Nationalite</h1>

    {{ include('nationalite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nationalite_index') }}">back to list</a>

    {{ include('nationalite/_delete_form.html.twig') }}
{% endblock %}
